@model MyPortfolio.Models.TblSkills
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Yetenek Ekleme Sayfası</h3>

<form method="post">
    <label>Yetenek Adı</label>
    <input type="text" name="SkillName" class="form-control" />
    <br />
    <label>Puan</label>
    <input type="text" name="Value" class="form-control" />
    <br />
   

    <button class="btn btn-outline-primary">Kaydet</button>

</form>

