@model List<MyPortfolio.Models.TblSkills>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h3>Yetenekler Sayfası</h3>
<br />
<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Yetenek Adı</th>
        <th>Değer</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SkillId</td>
            <td>@item.SkillName</td>
            <td>@item.Value</td>
            <td><a href="Skill/DeleteSkill/@item.SkillId" class="btn btn-outline-danger">Sil</a> </td>
            <td><a href="/Skill/UpdateSkill/@item.SkillId" class="btn btn-outline-info">Güncelle</a> </td>
        </tr>
    }





</table>

<br />
<a href="/Skill/AddSkill" class="btn btn-outline-primary">Yeni Yetenek Ekle</a>

