@model MyPortfolio.Models.TblSkills
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Yetenek Güncelleme Sayfası</h3>

<form method="post">
    <input type="hidden" name="SkillId" value="@Model.SkillId" />
    <label>Yetenek Adı</label>
    <input type="text" name="SkillName" value="@Model.SkillName" class="form-control" />
    <br />
    <label>Puan</label>
    <input type="text" name="Value" value="@Model.Value" class="form-control" />
    <br />
  

    <button class="btn btn-outline-primary">Güncelle</button>

</form>

