@model MyPortfolio.Models.TblServices
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Hizmet Ekleme Sayfası</h3>

<form method="post">
    <label>İkon</label>
    <input type="text" name="Icon" class="form-control" />
    <br />
    <label>Başlık</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" name="Description" class="form-control" />
    <br />

    <button class="btn btn-outline-primary">Kaydet</button>

</form>

