@model List<MyPortfolio.Models.TblMessages>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<br>
<br />
<h2>Gelen Mesajlar Sayfası</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>İsim</th>
        <th>Email</th>
        <th>Konu</th>
        <th>Sil</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Subject</td>
            <td><a href="/Message/DeleteMessage/@item.MessageId" class="btn btn-outline-danger">Sil</a></td>
        </tr>

    }
</table>

