@model MyPortfolio.Models.TblFeatures
@{
    ViewBag.Title = "AddFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Öne Çıkan Ekleme Sayfası</h3>

<form method="post">
    <label>AdSoyad</label>
    <input type="text" name="NameSurname" class="form-control" />
    <br />
    <label>Başlık</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Resim Url</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />

    <button class="btn btn-outline-primary">Kaydet</button>

</form>