@model List<MyPortfolio.Models.TblFeatures>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h3>Öne Çıkan Sayfası</h3>
<br />
<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>AdSoyad</th>
        <th>Başlık</th>
        <th>Resim</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FeatureId</td>
            <td>@item.NameSurname</td>
            <td>@item.Title</td>
            <td>@item.ImageUrl</td>
            <td><a href="/Feature/DeleteFeature/@item.FeatureId" class="btn btn-outline-danger">Sil</a> </td>
            <td><a href="/Feature/UpdateFeature/@item.FeatureId" class="btn btn-outline-info">Güncelle</a> </td>
        </tr>
    }





</table>

<br />
<a href="/Feature/AddFeature" class="btn btn-outline-primary">Yeni Öne Çıkan Ekle</a>